.catalog-page {
    padding-top: 60px;
    padding-bottom: 60px;
}

.catalog__menu-columns {
    display: flex;
    gap: 80px;
}
.catalog__column {
    display: grid;
    gap: 48px;
}
.catalog__column-item {
    a {
        color: var(--main-font-color);

        &:hover {
            img {
                opacity: 0.7;
                transition: 0.2s ease-in;
            }
        }
    }
}