.delivery__options-list {
    display: flex;
    gap: 24px;
}
.delivery__options-list__item {
    display: flex;
    gap: 20px;

    align-items: start;

    max-width: 377px;
}

.delivery__options-info {

    h4 {
        font-weight: 700;
        font-size: 20px;
    }
}

.delivery__companies-list {
    display: flex;

    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 48px;

    align-items: center;
}