@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--pink-background);
    a {
        color: var(--main-font-color);
    }
    &--header-other {
        background-color: transparent;
    }
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;

    &--page-container {
        padding: 90px 0;
    }
}

.section-heading {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;

    // margin-bottom: 24px;

    &--additional {
        margin-bottom: 24px;
    }
}

.hidden {
    display: none;
}

.heading-description {
    padding-top: 16px;
    padding-bottom: 48px;

    max-width: 500px;
}