:root {
    --main-font-color: #333333;
    --white-font-color: #FFFFFF;
    --transparent-font-color: rgba(255, 255, 255, 0.5);
    --footer-background: #333333;


    --pink-background: #FAEEEE;
    --review-background: #F7F6F5;
    --yellow-color: #F6DA18;
    --aqua-color: #48BFCD;
    --header-page-color: #C5C5C5;
}